* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Montserrat;
}
.wrapper {
  background-color: #fff;
  display:flex;
  max-width: 1200px;
  margin:0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}
.sidebar {
 background-color:  #1e81ac;
 width: 370px;
 padding-bottom: 40px;
}
.my-foto {
  width: 370px;
}

.about-me-container {
  padding-left: 90px ;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
  margin-bottom: 65px;
}

.contacts-container {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 40px;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts-link { 
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  color: #d8dadd;
}

.contacts-link-type {
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  color: #ff6b08;
  margin-right: 10px;

}
.tech-skills-title {
font-size: 22px;
font-weight: 700px;
line-height: 24px;
margin-bottom: 20px;
color: #fff;
}
.tech-skills-container{
margin-left: 60px;
margin-right: 40px;
margin-top: 60px;
}
.tech-skills-item{
font-size: 14px;
font-weight: 400px;
line-height: 24px;
margin-left: 15px;
color: #ff6b08;
}

.tech-skills-text{
color: #d8dadd;
}
.soft-skills-title{
  font-size: 22px;
  font-weight: 700px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}
.soft-skills-container{
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 60px;
  }
  .soft-skills-item{
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  margin-left: 15px;
  color: #ff6b08;
  }
  
  .soft-skills-text{
   color: #d8dadd;
  }

  .profession {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 50px;
    color: rgb(17, 127, 186);
  }
.name{
  font-size: 50px;
  font-weight: 700px;
  line-height: 89px;
  color: #0d6a91;
}
.about-me{
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  margin-top: 24px;
}

.about-me-title {
font-size: 24px;
font-weight: 600px;
line-height: 24px;
color: #1e81ac;
}

.projects-link{
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  color: #064f60;
}
.projects-item {
  font-weight: 800px;
  margin-left: 17px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.tech-name{
  font-size: 14px;
 font-weight: 400px;
 line-height: 24px;
 color: #595959;
}

.projects-container{
margin-bottom: 55px;
margin-top: 25px;

}
.profession-title{
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-company{
  color: #ff6b08;

}
.profession-time{
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 14px;
}

}
.proffesion-devider{
  color: #000;
}
.profession-dutes{
  margin-top: 0px;
  margin-bottom: 15px;
}
.profession-dutes-items{
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  color: #595959;

}
.education-time{
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 14px;

}
.education-title{
  font-size: 16px;
  font-weight: 600px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.about-work-title{
  font-size: 22px;
  font-weight: 600px;
  line-height: 24px;
}
.about-education-title{
  font-size: 22px;
  font-weight: 600px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 14px;
}
.education-speciality{
  color: #ff6b08;
  margin-top: 10;
  margin-bottom: 15;
}
.education-devider{
  color: #000;
}
.education-type{
  font-size: 14px;
  font-weight: 700;   
  line-height: 24px;
}
